<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/cart.css">
  <title>Giỏ hàng của bạn</title>
</head>

<body>
  <div class="container">
    <!--GIỎ HÀNG-->
   @* <div class="row">
      <div class="col-lg-10 m-auto">
        <h4 class="text-success">Giỏ hàng</h4>
        <table class="table ">
          
        <button type="submit" class="btn btn-warning">Quay lại cửa hàng</button>
        <button type="submit" class="btn btn-success float-right">Cập nhật</button>
      </div>
    </div>*@

    <!--THÔNG TIN KHÁCH HÀNG-->
    <!--<hr>
    <div class="row">
      <div class="col-lg-6 m-auto">
        <h4 class="text-success">Thông tin khách hàng</h4>
        <form action="">
          <div class="form-group">
            <label for="tenkh">Tên khách hàng:</label>
            <input type="text" class="form-control" placeholder="Nguyễn Văn A" id="tenkh">
          </div>
          <div class="form-group">
            <label for="sdt">Số điện thoại:</label>
            <input type="tel" class="form-control" placeholder="0234567124" id="sdt">
          </div>
          <div class="form-group">
            <label for="diachi">Địa chỉ nhận hàng:</label>
            <input type="text" class="form-control" placeholder="180 Cao Lỗ, phường 4, quận 8, TPHCM" id="diachi">
          </div>
          <button type="submit" class="btn btn-success w-100" >
            <strong>ĐẶT HÀNG</strong>
          </button>
        </form>
      </div>
    </div>-->  <!--End row-->
      @RenderBody()
  </div> <!--End container-->

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
</body>

</html>